<div class='well well-sm text-center'>
  <h1 class="text-center"><h1>All Categories</h1>
</div>

<%= link_to new_admin_category_path, class: 'btn btn-success' do %>
<i class="glyphicon glyphicon-plus"></i> New Category
<% end %>

<table class="table table-bordered">
  <tr>
    <th>Title</th>
    <th>Actions</th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><h3><%= link_to category.title, admin_category_path(category) %></h3></td>
      <td>
        <%= link_to "Edit", edit_admin_category_path(category) %> |
        <%= link_to "Destroy", admin_category_path(category), method: :delete %>
      </td>
    </tr>
    <% end %>
  </table>
